body {
  width: 60%;
}

h1, h2 {
  color: #F28F0C;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
}

.article-image {
  height: auto;
  width: 100%;
}

#footer-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

#footer-heading {
  border-top: 1px solid #808080;
}