* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 18px;
  font-family: Calibri,Arial;
}

h1, h2 {
  color: #F28F0C;
}

h1 {
  font-size: 40px;
  margin-bottom: 20px;
}

h2 {
  font-size: 30px;
  margin-bottom: 10px;
}

.header {
  width: 1140px;
  margin: 20px auto 10px auto;
  padding: 30px;
  background-image: url(bg-image.jpg);
  background-size: cover;
  text-align: center;
  font-size: 40px;
}

.container {
  width: 1140px;
  margin: 20px auto 10px auto;
}

.article {
  width: 75%;
  display: inline-block;
  float: left;
}

.article-image {
  height: auto;
  width: 100%;
}

.article-text {
  text-align: justify;
  margin: 20px 0px;
}

.other-posts {
  width: 25%;
  display: inline-block;
}

.blog-post {
  margin-bottom: 50px;
}

.other-posts img {
  width: 80%;
  height: 300px;
}

.other-title {
  font-size: 16px;
  color: #F28F0C;
  text-decoration: none;
  text-transform: uppercase;
}

.clearfix {
  content: "";
  display: table;
  clear: both;
}

#footer-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

#footer-heading {
  border-top: 1px solid #808080;
}